*.jou
*.log
*.aux
*.hst
*.lof
*.lot
*.out
*.synctex.gz
*.toc
*.ver
*.str
*.pyc
firmware/Projects/
firmware/constraints/probes.xdc
firmware/output/
.Xil
firmware/simulation/UVVM/
firmware/simulation/xilinx_simlib/

